<div class="container">
  <h1>Racecccar</h1>
  <form method="post">
    <input name="player1" type="text" placeholder="player 1 initials">
    <input name="player2" type="text" placeholder="player 2 initials">
    <button type="submit">start</button>
  </form>
</div>
